<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>
  <fieldset>
  <p>
    <label>First Name: 
      {{input value=model.firstName placeholder="First Name"}}
    </label>
  </p>
  <p>
    <label>Last Name:
      {{input value=model.lastName placeholder="Last Name"}}
    </label>
  </p>
  <p>
    <label>Email:
      {{input value=model.email placeholder="email"}}
    </label>
  </p>
  <p>
    <label>Twitter
      {{input value=model.twitter placeholder="twitter"}}
    </label>
  </p>
  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button>
  </fieldset>
</form>

